<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darwin.umnify">

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.darwin.umnify.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.darwin.umnify.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".home.HomeActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!--<activity android:name=".groups.GroupsActivity" />-->
        <activity android:name=".preferences.PreferencesActivity" />
        <activity android:name=".calendar.CalendarActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.blogs.BlogActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.news.NewsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".start.StartActivity" android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".start.UserChecker"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".feed.news.AddNewsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".feed.blogs.AddBlogActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.news.NewsCommentActivity"
            android:theme="@style/NewsCommentThemeWithCorners" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".personal.EvaluationActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".personal.StudentPermanentRecordActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".personal.PersonalInformationActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".personal.SubjectsEnrolledActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".gallery.GalleryActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".poseidon.PoseidonAlertActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".gallery.news.GalleryNewsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".gallery.blog.GalleryBlogActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".gallery.ViewImageActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDzjdHhuyaG3B2apsRLTeWg6m1G2cl67Vk" />

        <activity android:name=".maps.CampusMapActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".calendar.AddEventActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".personal.ProfileActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.VisionMissionGoalsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.HistoryActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".pending.PendingActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.news.EditNewsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.blogs.EditBlogActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.announcements.AddAnnouncementActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.announcements.EditAnnouncementActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.qoute_of_the_day.QouteOfTheDayActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.trivia.TriviaActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.qoute_of_the_day.AddQouteOfTheDayActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.trivia.AddTrivia" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.quick_fact.QuickFactActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".about.quick_fact.AddQuickFactActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".feed.announcements.AnnouncementActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>